
// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3273dc;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Nunito Sans", sans-serif;
$headings-font-family:"Nunito Sans", sans-serif !default;
$font-size-base: .95rem;
$line-height-base: 1.2;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: #fff;
$btn-font-weight: 600;
$btn-padding : 0.5rem 18px;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff !important;

// change color array 
$white:#fff !default;
$primary:#377dff !default;
$secondary:#00AEEF !default;
//$secondary:#fca32a !default;
$success:#6bd098 !default;
$info:#51bcda!default;
$warning:#fbc658!default;
$danger:#f5593d!default;
$greygreen:#5eb4b9!default;
$secondary-yellow:#F8BB56!default;
$pink : #FF6A89!default;
$purple:#5659A6!default;
$orange:#FCA32A!default;
$lightblue :#8BD5F6!default;

$theme-colors: () !default;
$theme-colors: map-merge((
    "primary"   :$primary,
    "secondary" :$secondary,
    "danger"    :$danger,
    "info"      :$info,
    "warning"   :$warning,
    "orange"    :$orange,
    "greygreen" :$greygreen,
    "success"   :$success,
    "cool"      :#2a3f81,
    "pink"      :$pink,
    "purple"    :$purple,
    "secondary-yellow"  :$secondary-yellow,
    "lightblue" :$lightblue
), $theme-colors);

$main-colors: (
    'default':#4b7bec,
    'lightblue':#45aaf2,
    'green': #20bf6b,
    'lightgreen':#badc58,
    'turquoise':#0fb9b1,
    'darkgreen': #6ab04c,
    'orange': #f0932b,
    'purple': #4834d4,
    'darkred':#e44040,
    'pink': #f43893,
    'darkpink':#be2edd,
    'red':#eb4d4b,
    'yellow':#f9ca24,
    'lightgrey':#eaebed,
    'grey':#e4e4e4,
    'lightpurple':#c3b4fa
);






$btn-warning-color:#fff !important;
$btn-secondary-color:#fff !important;

$table-odd-bg : #fafbfe;
$table-accent-bg: $table-odd-bg;

$fa-font-path:        "../fonts/vendor/webfonts";