// mixins
@import "variables";
@import "mixin";
// mixins
@import "fonts";
// Variables
@import "flaticon";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
// custom style
@import "style-theme";
// toastr
@import "~toastr/toastr";
// fastselect
@import "~fastselect/dist/fastselect.css";


.bg-purple { background-color: #6f42c1; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 2px 0 0 whitesmoke; }



